page-home {
    .swiper-pagination-bullet-active{
        background-color: #b92499;
    }
    ion-title{
        text-align: center;
    }
    .list-header-md{
        margin-bottom: 0px;
    }
    .text-title{
        background: linear-gradient(to left, #b92499 10%, #9141ac 100%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
    }
    .page-title{
        float: left;
        background: linear-gradient(to left, #b92499 10%, #9141ac 100%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        font-size: 16px;
        margin-right: 10px;
    }
   .stripe-line{
    background: url(../images/stripe.png);
    height: 12px;
    overflow: hidden;
    margin-top: 7px;
   }
}
