page-menu {
    ion-title{
        text-align: center;
    }
    .swap{
        background-color: #fff;
    }
    .wrapper{
        
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: rgba(255, 255, 255, 0.8);
        
        background-repeat: no-repeat;
        background-position: center;
        
      }
      .grid-item {
        // background-color: #fff;
        // background-color: #5ac9e4;
        // border: 1px solid #f0f0f0;
        padding: 15px;
        font-size: 30px;
        text-align: center;
        // color: #b92499;
      }
      .grid-item>i{
          font-size: 40px;
        background: linear-gradient(to left, #b92499 10%, #9141ac 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .small{
        font-family: 'Kanit', sans-serif;
          padding-top: 0px;
          font-size: 15px;
          background: linear-gradient(to left, #b92499 10%, #9141ac 100%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
      }
      
}
